@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&family=Playfair+Display+SC:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#head-section {
    width: 100%;
    background: #F2F2F2;
}

.container {
    width: 80%;
    height: 100vh;
    /* border: 1px solid black; */
    margin: 0 auto;
    padding-top: 10px;
}

.flex {
    display: flex;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.contain {
    width: 80%;
    height: 100vh;
    /* border: 1px solid black; */
    margin: 0 auto;
    padding-top: 10px;
}

.navbar .hamburger {
    display: none;
}

.navbar .menu {
    margin-left: 30px;
}

.navbar .menu ul li {
    list-style: none;
}

.navbar .menu ul a {
    text-decoration: none;
}

.menu li {
    padding-left: 40px;
}

.menu li a {
    color: rgba(30, 27, 27, 1);
}

.assistance {
    margin-left: 32px;
    padding-left: 32px;
    border-left: 1px solid rgba(147, 145, 145, 1)
}

.mini-assistance {
    margin-left: 14px;
}

.navbar-right, .assistance, .foot-navbar-right {
    align-items: center;
}

.header-section {
    height: 92vh;
}

.header-section .text-section {
    width: 50%;
    /* background-color: green; */
}

.header-section .image-section {
    width: 50%;
    background-image: url(https://drive.google.com/uc?export=view&id=1RnGil95sbJkY7GOVllvvyqoKGNiPOdvq);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-section .text-section {
    margin-right: 107px;
    margin-top: 50px;
}


.text-section .text {
    font-family: Manrope;
    font-size: 64px;
    font-weight: 800;
    line-height: 84px;
    letter-spacing: -0.03em;
}

.text-section a, .quote-right a {
    background: rgba(255, 100, 51, 1);
    padding: 8px;
    border: 1px solid rgba(255, 100, 51, 1);
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 15px;
}

.text-section .Open {
    align-items: center;
}

.text-section .Open img {
   width: 100%;
   margin-right: 20px;
   margin-top: 1px;
}

.text-section .Open .miniopen {
    margin-right: 10px;
}

#quote-section {
    background-color: rgba(226, 230, 233, 1);
}

.quote-head{
    justify-content: space-between;
}

.quote-head .quote-left {
    width: 45%;
    /* background-color: red; */
}

.quote-head .quote-right {
    width: 45%;
    /* background-color: green; */
}

.servicing h2 {
    font-family: Manrope;
    font-size: 48px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -0.03em;
    text-align: left;
    margin-bottom: 20px;
}

.feature ul li {
    list-style: none;
}

.feature .serve img {
    margin-right: 16px;
    margin-top: 1px;
}

.feature .conserve .p1 {
    font-family: Manrope;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.03em;
}

.feature .conserve .p2 {
    margin-top: 2px;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
}

.feature .conserve .p3 {
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    margin-right: 21px;
}

.feature .conserve .p4 {
    margin-top: 6px;
    /* display: inline-block; */
}

.feature .know {
    margin-left:62px;
    margin-top: 20px;
    align-items: center;

}

.get h3 {
    font-family: Manrope;
    font-size: 48px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: -0.03em;
    margin-bottom: 32px;
}

.quote-right .in {
    flex-direction: column;
}

.quote-right .in input {
    margin-bottom: 4px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: rgba(255, 255, 255, 1);
}


.quote-head {
    padding-top: 53px;
}

.process-head {
    justify-content: space-between;
    margin-top: 80px;
}

.process-left {
    width: 45%;
    margin-top: 60px;
}

.process-right {
    width: 45%;
    /* background-color: green; */
}

.process-left h2 {
    font-family: Manrope;
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -0.03em;
    margin: 0;
}

.process-left p {
    display: inline-block;
    margin-top: 16px;
}

.pfeature ul li {
    list-style: none;
    margin-bottom: 18px;
}

.pfeature .pserve .p1{
    font-family: Manrope;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.03em;
}

.pfeature .pconserve .p2 {
    margin-top: 2px;
    font-size: 16px;
    /* font-weight: 600; */
    line-height: 28px;
    letter-spacing: 0em;
    margin-left: 55px;
    /* border-left: 5px dotted rgba(255, 100, 51, 1);
    padding-left: 30px; */
}

.pfeature .pserve {
    align-items: center;
}

.pfeature .pserve img {
    margin-right: 24px;
    /* margin-top: 1px; */
    width: 13%;
    /* height: 50%; */
}

.line {
    border-left: 5px dotted rgba(255, 100, 51, 1);
    margin-top: 16px;
    margin-left: 35px;
}

.container0 {
    width: 80%;
    height: 125vh;
    /* border: 1px solid black; */
    margin: 0 auto;
    padding: 60px 0px;
}

#offer-section {
    background: rgba(242, 242, 242, 1);
}

.offer-head {
    width: 100%;
    margin-top: 5px;
}

.offer-head .off1 {
    width: 100%;
    text-align: center;
    font-family: Manrope;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.03em;
    margin-bottom: 5px;
}

.offer-head .off2 {
    width: 100%;
    text-align: center;
    font-family: Manrope;
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -0.03em;
}

.offer-grid .offer-grid1 {
    margin-bottom: 4px;
    margin-top: 20px;
}

.offer-grid .offer-grid1 img, .offer-grid .offer-grid2 img {
    width: 100%;
}

.offer-grid .offer-grid1 .item, .offer-grid .offer-grid2 .item {
    margin-right: 8px;
}

.offer-grid1 .item a:hover, .items a:hover, .items a:hover, .offer-grid2 .item a:hover {
    border: 3px solid #FF6433;
}

.learn {
    justify-content: flex-end;
    margin-top: 32px;
}

.learn .p5 {
    margin-left: 16px
}

#cta-section, #exp-section {
    background: #F2F2F2;
}

.container1 {
    width: 100%;
    height: 50vh;
    /* border: 1px solid black; */
}

.container1 .left-car {
    width: 50%;
    /* background-color: blue; */
    background-image: url(https://drive.google.com/uc?export=view&id=1yLOVTYGDbe0mc9Rpccqs0LdqdfPsI7FA);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container1 .right-car {
    width: 50%;
    /* background-color: green; */
    background-image: url(https://drive.google.com/uc?export=view&id=1LX7hhFJfXTf_2YeQZvzTW1EFLm8VQO7i);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.left-car .mini-left-car {
    background-color: rgba(255, 100, 51, 1);
    height: 50vh;
    width: 37%;
    position: absolute;
    left: 220px;
}

.left-car .mini-left-car p {
    font-family: Manrope;
    color: rgba(255, 255, 255, 1);;
    font-size: 40px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: -0.03em;
    text-align: center;
    margin: 70px 0 0 0;
    padding: 0 10px 0 10px
    /* padding-right: 20px; */
}

.container2 {
    width: 80%;
    height: 25vh;
    /* border: 1px solid black; */
    margin: 0 auto;
}

.exp .p1 {
    font-family: Manrope;
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -0.03em;
    text-align: center;
     color: rgba(102, 28, 231, 1);
}

.exp .p2 {
    font-family: Manrope;
    margin-top: 2px;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(30, 27, 27, 1);
}

.exp-flex {
    justify-content: space-between;
    padding-top: 20px;
}

#brand-section {
    width: 100%;
    height: 60vh;
}

.container3 {
    width: 100%;
    height: 60vh;
    background: rgba(250, 250, 250, 1);
}

.brand {
    width: 80%;
    /* border: 0px solid black; */
    margin: 0 auto;
}

.brands {
    padding-top: 40px;
}

.brand h3 {
    font-family: Manrope;
    font-size: 48px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: -0.03em;
    text-align: center;
}

.br .br1 img {
    width: 100%;
}

#testimonial-section {
    background: rgba(242, 242, 242, 1);
}

.testimonial {
    padding-top: 15px;
}

.testimonial .ttm-text {
    font-family: Manrope;
    font-size: 48px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: -0.03em;
    text-align: center;
}

.ttm {
    justify-content: space-between;
    margin-bottom: 7px;
}

.ttm-left, .ttm-right {
    background: #FFFFFF;
    border: 1px solid rgba(172, 172, 172, 0.29);
    padding: 40px;
    width: 48.5%;
}

.ttms .p6 {
    font-family: Manrope;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.03em;
    text-align: left;
    color: rgba(30, 27, 27, 1);
}

.ttms .p7 {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(147, 145, 145, 1);
}

.ttm-right-top, .ttm-left-top {
    align-items: center;
    margin-bottom: 24px;
}

.ttm-right-top img, .ttm-left-top img {
    margin-right: 16px;
}

.ttm-left-bottom, .ttm-right-bottom {
    font-family: Manrope;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.03em;
    text-align: left;
    color: rgba(30, 27, 27, 1);;
}

.lin-slid {
    justify-content: flex-end;
    align-items: center;
}

.lin .l1 {
    margin-right: 5px;
}

.slid {
    margin-left: 360px;
}

.slid a:hover {
    border: 2px solid rgba(255, 25, 200, 0);
}

.slid .m1 {
    margin-left: 10px;
}

.ttm-text h3 {
    margin-bottom: 10px;
}

#faq-section {
    background: rgba(242, 242, 242, 1)
}

.container4 {
    width: 70%;
    height: 100vh;
    /* border: 1px solid black; */
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background: rgba(242, 242, 242, 1);
}

.faq h3 {
    font-family: Manrope;
    font-size: 48px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: -0.03em;
    text-align: center;
    margin-bottom: 35px; 
}

.faq-collapse {
    background-color: #FFFFFF;;
    color: rgba(30, 27, 27, 1);
    cursor: pointer;
    padding: 15px 0 15px 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-bottom: 7px;
}

.active, .faq-collapse:hover {
    background: rgba(147, 145, 145, 0.2);
}

.faq-collapse:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-right: 30px;
    background-color: #FF6433;
    padding: 15px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

#footer-section {
    width: 100%;
    background: rgba(30, 27, 27, 0.98);
}

.container5 {
    width: 80%;
    min-height: 60vh;
    /* border: 1px solid black; */
    margin: 0 auto;
    padding-top: 50px;
}


.foot {
    justify-content: space-between;
}

.foot-left {
    width: 45%;
}

.foot-right {
    width: 45%;
}

.foot-left h3 {
    font-family: Manrope;
    font-size: 48px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: -0.03em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 65px;
}

.foot-right .p8 {
    font-family: Manrope;
    font-size: 18px;
    font-weight: normal;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}

.foot-right .p9 {
    font-family: Manrope;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.03em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 32px;
}

.foot-left .logo img {
    padding-right: 29px;
}

.footer-section-bottom {
        width: 100%;
        background: rgba(30, 27, 27, 1);
}

.foot-bottom {
    background-color: green;
}

#footer-bottom-section {
    width: 100%;
    background: rgba(30, 27, 27, 1);
}

.container6 {
    width: 80%;
    min-height: 15vh;
    /* border: 1px solid black; */
    margin: 0 auto;
    padding: 30px 0px;
}

.copyfin {
    color: rgba(147, 145, 145, 1);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.footer-navbar {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.footer-navbar-right .menu {
    margin-left: 30px;
}

.footer-navbar-right .menu ul li {
    list-style: none;
}

.footer-navbar-right .menu ul a {
    text-decoration: none;
}

.footer-navbar-right .menu li {
    padding-left: 40px;
}

.footer-navbar-right .menu li a {
    color: rgba(255, 255, 255, 1);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}









/* For Services */

#head-services {
    width: 100%;
    background: rgba(255, 255, 255, 1);;
}

.container7 {
    width: 80%;
    height: 100vh;
    /* border: 1px solid black; */
    margin: 0 auto;
    padding-top: 10px;
}

.header-section-services {
    min-height: 70vh;
    margin-top: 64px;
    /* border: 1px black solid; */
    margin-right: 37px;
    padding: 0;
}

.header-section-services .image-section {
    width: 100%;
    /* background-color: red; */
    min-height: 69vh;
    background-image: url(../images/HeaderImage-Services.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-color: red; */
}

.header-section-services .text-section {
    width: 56.5%;
    background: rgba(30, 27, 27, 1);
    min-height: 69vh;
}

.header-section-services .image-section .flex {
    justify-content: flex-end;
}

.header-section-services .text-section h1 {
    font-family: Manrope;
    font-size: 64px;
    font-weight: 800;
    color: rgba(242, 242, 242, 1);
    line-height: 84px;
    letter-spacing: -0.03em;
    text-align: left;
    margin: 56px 0 20px 56px;
}

.header-section-services .text-section p {
    font-family: Manrope;
    font-size: 15px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    /* font-weight: 600; */
    color: rgba(242, 242, 242, 1);
    margin: 0 56px 30px 56px;
}

.hss .text-section a {
    margin-left: 56px;
}

.container11 {
    width: 80%;
    height: 140vh;
    /* border: 1px solid black; */
    margin: 0 auto;
    padding: 70px 0px 80px 0px
}

#services-section {
    background-color: #F5F5F5;
}

.services {
    justify-content: space-between;
    min-height: 80vh;
}

.services .services-left {
    width: 48.8%;
    padding: 45px 24px 0 24px;
    background: rgba(255, 255, 255, 1);
}

.services .services-left img {
    width: 100%;
    margin: 0 0 20px 0;
    /* margin-top: 20px;
    margin-left: 20px; */
}

.services .services-right {
    width: 48.8%;
    /* background-color: red; */
}

.services-left h3 {
    font-family: Manrope;
    font-size: 48px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: -0.03em;
    text-align: left;
    margin: 0 0 20px 0;
}

.services-left p {
    font-family: Manrope;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.03em;
    text-align: left;
    margin: 0 0 11px 0;
    color: rgba(35, 37, 54, 0.6);
}

.see-arrow {
    align-items: center;

}

.see-arrow .p1 {
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 17.5px;
    margin-right: 21px;
    color: rgba(30, 27, 27, 1);
    margin-bottom: 0px;
}

.see-arrow .p2 {
    margin-top: 50px;
    margin-bottom: 0px;
}

.services-right {
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-right .firstbox {
    width: 48%;
    height: 232px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    margin-bottom: 21px;
}

.services-right .firstbox p {
    margin-top: 16px;
}

.services-right .five, .services-right .six {
    margin-bottom: 0;
}

.container12 {
    width: 80%;
    height: 90vh;
    /* border: 1px solid black;  */
    margin: 0 auto;
    padding: 0px
}

.for-c12 {
    margin-bottom: 70px;
}

.how-head {
    height: 70vh;
    /* border: 1px solid black; */
    margin-top: 60px;
    justify-content: space-between;
}

.how-left {
    width: 48%;
}

.how-right {
    width: 48%;
    justify-content: space-between;
}

.how-left h3 {
    font-family: Manrope;
    font-size: 48px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: -0.03em;
    text-align: left;
    margin-bottom: 28px;
}

.how-left .how-left-1 img {
    width: 8%;
    height: 8%;
    margin-right: 24px;

}

.how-left .how-left-1 p {
    font-family: Manrope;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.03em;
    text-align: left;
}

.how-left .hll {
    margin-bottom: 28px;
}

.how-right img {
    width: 48.8%;
}

.how-2-head {
    height: 72.5vh;
    /* border: 1px solid black; */
    /* margin-top: 60px; */
    justify-content: space-between;
}

.how-2-left {
    width: 48%;
    justify-content: space-between;
}

.how-2-right {
    width: 48%;
    /* justify-content: space-between; */
}

.how-2-left img {
    width: 48.8%;
}

.how-2-right a {
    margin: 0;
    margin-left: 0px;
}

.how-2-right h3 {
    font-family: Manrope;
    font-size: 48px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: -0.03em;
    text-align: left;
    margin-bottom: 30px;
}

.how-2-right p {
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;
}

.services-right .firstbox:hover {
    background: #FF6433;
}

/* mobile view for Services Page*/

@media (max-width: 426px) {

    #head-section {
        /* margin-bottom: -25px; */
        margin-bottom: 0px;
    }

    .navbar .logo {
        margin-top: 10px;
        margin-left: 10px;
    }

    .navbar-right {
        display: none;
    }

    .navbar .hamburger {
        /* display: inline-block; */
        display: flex;
        /* margin-left: 100px; */
    }

    .navbar .hamburger img {
        width: 80%;
    }

    .header-section-services .image-section {
        background-image: none;
    }

    .header-section-services .text-section {
        width: 100%;
        padding: 20px;
        background: red;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/media01.png)
    }

    .container7 {
        width: 100%;
    }

    .header-section-services {
        margin-top: 0px;
        margin-right: 0px;
    }

    .header-section-services .text-section h1 {
        font-size: 20px;
        margin: 0px;
        line-height: 32px;
    }

    .header-section-services .text-section p {
        margin: 0px;
    }

    .hss .text-section a {
        margin: 0px;
    }

    #services-section {
        margin-bottom: 977px;
    }

    .container11 {
        width: 100%;
        height: 0;
        min-height: 10vh;
        padding: 0px;

    }

    .services {
        flex-direction: column;
        min-height: 50vh;
    }

    .services .services-left {
        width: 100%;
        padding: 20px;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/CarImage-Services.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 50vh;
        /* padding-bottom: 60px; */
    }
    
    .services .services-left h3, .services .services-left p {
        color: #fff
    }

    .services .services-left h3 {
        font-size: 20px;
        margin: 0px;
        line-height: 32px;
    }

    .services .services-left p {
        margin: 0px;
        font-family: Manrope;
        font-size: 15px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        /* font-weight: 600; */
        color: rgba(242, 242, 242, 1);
    }


    .services .services-left .carimage {
        display: none;
    }

   .services .services-left img {
       margin: 0px;
       margin-top: 13px;
       margin-left: 10px;
       background-color: white;
       padding: 3px 6px;
       border: white 1px solid;
       border-radius: 20px;
   }

    .services .services-right {
        width: 100%;
        background: rgba(228, 228, 228, 1);
        padding: 20px;
        flex-wrap: wrap;
    }

    .services-right .firstbox {
        margin-bottom: 17px;
    }

    .services-right .five, .services-right .six {
        margin-bottom: 0;
    }

    .services-right .firstbox:hover {
        background: #FF6433;
    }

    .container12 {
        width: 100%;
    }

    .how-head {
        flex-direction: column;
        min-height: 70vh;
        /* margin-bottom: 40px; */
    }

    .how-head .how-left {
        width: 100%;
        padding: 20px;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/how-car1.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /* min-height: 50vh; */
        /* margin-bottom: 40px; */
    }

    .how-head .how-left h3 {
        font-size: 20px;
        margin-bottom: 0;
        color: #fff;
        line-height: 36px;
        /* added line height in the line above */
    }

    .how-head .how-left-1 p {
        font-size: 15px;
        color: #fff;
    }

    .how-left .hll {
        margin-bottom: 0px;
    }



    .how-head .how-right {
        display: none;
    }

    

    .container12 {
        width: 100%;
    }

    .how-2-head {
        flex-direction: column;
    }

    .how-2-head .how-2-left {
        display: none;
    }

    .how-2-head .how-2-right {
        width: 100%;
        /* margin-top:20px; */
        margin-top: 0px;
        padding: 20px;
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/how-car3\ .png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .how-2-head .how-2-right h3 {
        font-size: 20px;
        line-height: 38px;
        margin-bottom: 15px;
        color: #fff;
    }

    .how-2-head .how-2-right p {
        color: #fff;
    }

    .container5 {
        width: 100%;
        padding-top: 0px;
    }

    #footer-section {
        /* margin-top: 138px; */
        /* display: none; */
        margin-top: 0px;
        /* added a line above */
    }
    
    .foot {
        flex-direction: column;
        /* margin-bottom: 20px;
        min-height: 60vh; */
        padding: 20px;
    }
    .foot-left {
        width: 100%;
        /* min-height: 35vh; */
        min-height: 29vh;
    }
    

    .foot-left h3 {
        font-size: 20px;
        line-height: 38px;
        margin-bottom: 15px;
        padding-bottom: 0px;
    }

    .foot-right {
        /* display: none; */
        width: 100%;
        min-height: 35vh;
    }

    .foot-right .p9 {
        font-size: 19px;
        padding-bottom: 12px;
    }

    /* .foot-left .logo {
        height: 50vh;
    } */

    #footer-bottom-section {
        /* display: none; */
        width: 100%;
    }

    #footer-bottom-section .container6 {
        padding: 10px 0px;
    }

    .container6 {
        width: 100%;
    }

    .footer-navbar {
        flex-direction: column;
        margin-bottom: 0;
        align-items: flex-start;
        padding: 20px;
    }

    .footer-navbar .footer-navbar-right {
        align-items: flex-start;
    }

    .footer-navbar .logo {
        margin: 0 auto;
    }

    .footer-navbar-right .menu {
        margin-left: 0px;
    }

    .footer-navbar-right .menu li {
        padding-left: 0px;
    }

    .menu .ul-for-menu {
        flex-direction: column;
    }

    .footer-navbar .copyfin {
        /* display: none; */
        margin-top: 10px;
        font-size: small;
    }

    












    
    























         
    
        
    
        
    
        
}